@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="privacy">
    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>

</div>

<style>
    .privacy{
        display:flex;
        flex-direction:column;
        align-items:center;
        margin:10%;
    
    }
</style>